# See https://help.github.com/ignore-files/ for more about ignoring files.

.env
/env

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
/.vscode
*.sublime-project
*.sublime-workspace
*.komodoproject
