/* ClientEdit.css */

@import '../global.css';

.clint-edit-container {
  @apply flex flex-col items-center justify-center mt-12;
}

.custom-fields {
  backdrop-filter: blur(1400px);
  background-color: #111827ed;
  color: white;
}
