/* ClientList.css */

@import './global.css';

.loading {
  color: #007bff;
}

.client-list-container {
  width: 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.actions {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #218838;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.clients-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.clients-table th, .clients-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.clients-table th {
  background-color: #f2f2f2;
}

.btn-edit, .btn-delete {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-edit {
  background-color: #007bff;
  color: white;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

.loading, .error-message {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.error-message {
  color: red;
}

/* Paginação */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li.active button {
  background-color: #007bff;
  color: white;
  border: none;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}

